header{
  background: #00B8F4;
}
.navbar-brand{
  color: white;
  font-size: 20px;
}
.navbar-brand:hover{
  color: white;
}

.nav-link{
  color: #EAEAEA;
  margin-right: 5px;
  font-size: 18px;
}
.nav-link:hover{
  color:white;
}




